.animateFilterRemoval {
  @apply sepia contrast-50 brightness-110 blur-3xl;
  animation: removeFilter forwards 1.0s 0s 1;
}

.animateStrong strong {
  @apply relative text-xl;
}

.animateStrong strong::after {
  @apply absolute left-0 w-full h-0.5 bg-white -bottom-px origin-top-left scale-x-0;
  content: '';
}

.animateStrong strong:nth-of-type(1)::after {
  animation: scaleXOut forwards 0.5s 1.2s 1;
}

.animateStrong strong:nth-of-type(2)::after {
  animation: scaleXOut forwards 0.5s 1.6s 1;
}

.animateStrong strong:nth-of-type(3)::after {
  animation: scaleXOut forwards 0.5s 2.0s 1;
}

.animateStrong strong:nth-of-type(n+4)::after {
  animation: scaleXOut forwards 0.5s 2.4s 1;
}


/* NOTE: not animate @apply scale-x-n */
@keyframes scaleXOut {
  0% {
    transform: scaleX(0)
  }

  100% {
    transform: scaleX(1)
  }
}

@keyframes removeFilter {
  100% {
    @apply sepia-0 contrast-100 brightness-100 blur-0;
  }
}
